.herocontainer {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow-x: hidden;
  border-top: 0.5px solid #343a40;
  background-image: url("../assets/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.herocontainer > h4 {
  font-weight: 400;
  color: white;
  font-size: 50px;
}
.herocontainer > h1 {
  font-weight: 400;
  color: white;
  font-size: 100px;
}

.landingcontainer2 {
  height: 60vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow-x: hidden;
}

.landingcontainer3 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#fc4a1a, #f7b733);
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  overflow-x: hidden;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  position: absolute;
}
.titles > h2 {
  margin-top: 5%;
  font-size: 50px;
  color: white;
}

.titles > h3 {
  font-size: 60px;
  color: white;
}

.titles > h4 {
  font-size: 80px;
  color: white;
}

.rowcontainers {
  display: flex;
  height: 70vh;
  width: 100%;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: hidden;
}

.block1 {
  border: 1px solid darkgray;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10%;
  height: 35vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-right: 2.5%;
  position: auto;
  max-lines: 2;
}

.block2 {
  border: 1px solid darkgray;
  padding: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  position: auto;
}
.dinogif {
  background: repeat;
}
span.vermillion {
  color: #f76f6d;
  font-weight: 400;
}
