.App {
  text-align: center;
}

.App-logo {
  margin-top:  -120px;
  height: 110vmin;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .App-header {
    background-image: url("../src/backgroundGradient.JPG");
    background-size: cover;
    background-color: #F76F6D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    margin-left: -60px;
    margin-right: -60px;
  }
}
  

.App-header {
  background-image: url("../src/backgroundGradient.JPG");
  background-size: cover;
  background-color: #F76F6D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-left: -10px;
}

.App-link {
  color: black;
}


